<center class="pb-3">
  <i class="ra ra-4x ra-broken-skull" style="color: darkred" aria-hidden="true"></i>
  <h2>Oh vaya...</h2>
</center>

<p>¡Parece que la fuente de todo conocimiento no responde!
  Algún mago incompetente debe haber estado haciendo de las suyas en las corrientes del tiempo.
  Prueba en un rato, cuando la resonancia mágica se haya disipado.
  Si la página se niega a colaborar, ¡contacta con un heurista!</p>
