.pjs-footer-container {
    margin: 0;
    padding: 0;
}

.pjs-footer {
    margin: 10px auto 25px auto;
    width: 840px;
    padding: 5px;
    font-size: 10px;
    box-sizing: border-box;
    color: #555;
    text-align: center;
}
