.jqx-tooltip,
.jqx-tooltip-text,
.jqx-tooltip-main {
    border-radius: 3px;
}

.jqx-fill-state-normal {
    border-bottom: 1px solid #aaa;
    background-color: white;
}

.jqx-tooltip-main {
    text-align: left;
}
