.pjs-menu-container {
    margin: 0;
    position: relative;
    top: 0;
    line-height: 50px;
    height: 40px;
    font-size: 12px;
    color: white;
    background-color: rgb(38, 42, 55);
    border-bottom: 3px solid rgb(38, 42, 55);
}

.pjs-menu {
    width: 840px;
    margin: 0 auto;
    box-sizing: border-box;
}

.pjs-menu span {
    padding: 2px 5px;
}

.pjs-header {
    font-size: 20px;
    font-family: fantasy;
}

.pjs-menu em {
    color: rgb(200, 200, 200);
    font-size: 10px;
}

.pjs-menu i {
    /*font RPG awesome*/
    font-size: 22px;
}

.pjs-header i {
    font-size: 27px !important;
}

.pjs-menu menu {
    float: right;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.pjs-menu menu span {
    color: rgb(200, 200, 200);
    font-size: 14px;
}

.pjs-menu a {
    cursor: pointer;
    margin: 2px 5px;
    display: inline-block;
}

.pjs-menu a:hover {
    color: #FF9933;
}

.pjs-menu a summary {
    display: none;
    font-size: 14px;
}

.pjs-menu a:hover summary {
    display: inline;
}
