.linkable {
  cursor: pointer;
}

.linkable-help {
  cursor: help;
}

.pjs-box {
  font-size: 11px;
  line-height: 13px;
  background: #FDFFFF;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  border-radius: 3px;
  overflow: hidden;
  text-align: left;
}

.pjs-box:hover {
  background-color: aliceblue;
}

.pjs-evento {
  width: 400px;
  height: 100px;
  float: left;
  cursor: pointer;
}

.pjs-skill {
  width: 405px;
  margin: 1px 5px;
  float: left;
}

.pjs-class {
  margin: 0;
  float: left;
  background: none;
  border: none;
}

.pjs-class:hover {
  background: none;
  border: none;
}

.pjs-infobox {
  line-height: 18px;
  padding: 12px;
  margin-left: 15px;
}
