.pjs-icon {
    float: left;
    margin-right: 7px;
    width: 24px;
    height: 24px;
}

.pjs-icon-big {
    width: 32px;
    height: 32px;
}

.pjs-effects {
    font-size: 10px;
    color: #333;
}

.pjs-effects .ra {
    font-size: 13px;
}
