<h2>Personaje</h2>

<div class="row">

  <div class="col-md-6">
    <div class="input-group">
      <span class="input-group-addon"><i class="ra ra-player ra-lg"></i> Nombre:</span>
      <input class="form-control char__name" value="{{name}}" />
    </div>
  </div>

  <div class="col-md-5">
    <div class="input-group">
      <span class="input-group-addon char__event-label"><i class="ra ra-wooden-sign ra-lg"></i> Evento:</span>
      <span class="form-control" >
        <span class="char__event"></span>
        <span class="action__event linkable" style="float: right;" title="Cambiar de evento"><i class="ra ra-quill-ink"></i></span>
      </span>
    </div>
  </div>

  <div class="col-md-1" style="text-align: right; margin-left: -17px;">
    <button type="button" class="btn btn-primary dropdown-toggle char__actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ra ra-hammer"></i>&nbsp;</button>
    <div class="dropdown-menu dropdown-menu-right char__actions-list">
      <a class="dropdown-item linkable action__print"><i class="ra ra-scroll-unfurled ra-lg"></i> Version imprimible</a>
      <a class="dropdown-item linkable action__share"><i class="ra ra-player-teleport ra-lg"></i> Compartir personaje</a>
    </div>
  </div>

</div>

<br/>

<div class="row">

  <div class="col-md-6 char__classes-section">
    <div class="input-group">
      <span class="linkable-help input-group-addon char__class-label"><i class="ra ra-spades-card ra-lg"></i> Clase:</span>
      <select data-placeholder="Clase..." class="form-control char__class" style="width: 100%"></select>
    </div>
  </div>

  <div class="col-md-6 char__archetypes-section">
    <div class="input-group">
      <span class="linkable-help input-group-addon char__archetype-label"><i class="ra ra-hearts-card ra-lg"></i> Arquetipo:</span>
      <select data-placeholder="Arquetipo..." class="form-control char__archetype" style="width: 100%"></select>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-8">
    <h3>Habilidades</h3>
    <div class="char__skills clearfix"></div>
  </div>
  <div class="col-md-4">
      <h2><span class="char__phs-counter">0</span> PHs</h2>
  </div>
</div>
