<div class="card-block">
	<div class="pjs__words float-right">{{{words words}}}</div>
	<div class="media">
		{{> ../partials/icon}}
		<div class="media-body">
			<h4 class="card-title mt-0 mb-1">{{name}}</h4>
			<span class="card-text text-muted">Clase {{type}}</span>
		</div>
	</div>
</div>

