{{> class-icon}}
<div>
    <strong>{{name}}</strong>
    <br />
    <em>{{#if type}}{{type}}{{else}}Arquetipo{{/if}}</em>
</div>
<br/>
{{{summ description}}}
[Click para m&aacute;s informaci&oacute;n]