<div class="row">
  <div class="col-12 col-sm-8">
    <h4>Habilidades</h4>
    <div class="skills__region"></div>

    <h4>Rasgos</h4>
    <div class="traits__region"></div>
  </div>
  <div class="col-12 col-sm-4">
    {{> ../partials/phs}}
    {{> ../partials/class-selector}}
  </div>
</div>
