<div class="row">
  <div class="col-12 col-md-8">
    <h4>Habilidades</h4>
    <div class="skills__region"></div>
  </div>
  <div class="col-12 col-md-4">
    {{> ../partials/phs}}
    {{> ../partials/class-selector}}
  </div>
</div>

<h4 class="mt-2">Rasgos</h4>
<div class="traits__region"></div>
