<div class="pjs-box pjs-evento" title="{{name}}" {{#if custom_logo}} style="background:url({{custom_logo}}) no-repeat" {{/if}}>
    {{#unless custom_logo}}
        <h3>{{name}}</h3>
        <p>{{description}}</p>
    {{/unless}}
</div>
