<div class="row">
	<div class="col-md-9">
		<img style="margin: 15px auto; display: block; border: 1px solid black; border-radius: 2px" src="{{custom_logo}}" />

		<h2>{{name}}</h2>

		<div class="event__description">
			<div class="pjs__description">
				<p>{{{description}}}</p>
			</div>
			<div class="clearfix"></div>
		</div>

		<button class="btn btn-large btn-primary pjs__create-buton" style="width: 250px; margin: 0 auto; display: block">
			<i class="ra ra-player"></i> Crear Nuevo Personaje
		</button>

		<br/>
		<br/>

		<p><a class="linkable list-link" tabindex>Ver Lista de Eventos</a></p>

	</div>
	<div class="col-md-3">


		<div class="event__archetypes">
			<h3>Arquetipos</h3>
			<div class="archetypes__wrapper"></div>
			<div class="clearfix"></div>
		</div>


		<div class="event__classes">
			<h3>Classes</h3>
			<div class="classes__wrapper"></div>
			<div class="clearfix"></div>
		</div>



	</div>
</div>