<div style="float: right">
	<button class="btn btn-large btn-primary pjs__create-buton" style="width: 200px;">
		<i class="ra ra-player"></i> Crear Personaje
	</button>

	<br/>

	<img style="padding: 0; margin: 5px 0; width:200px; height: 50px" class="pjs-box pjs-evento" src="{{custom_logo}}" />
</div>

<h2>{{name}}</h2>

<div class="event__description">
	<div class="pjs__description">
		<p>{{{description}}}</p>
	</div>
	<div clas="clearfix"></div>
</div>

<div class="event__archetypes">
	<h3>Arquetipos</h3>
	<div class="archetypes__wrapper"></div>
	<div clas="clearfix"></div>
</div>


<div class="event__classes">
	<h3>Classes</h3>
	<div class="classes__wrapper"></div>
	<div clas="clearfix"></div>
</div>

<br/>

<p><a class="linkable list-link" tabindex>Ver Lista de Eventos</a></p>
