<img style="margin: 15px auto; display: block; border: 1px solid black; border-radius: 2px" src="{{custom_logo}}" />

<h2 class="body__section">{{name}}</h2>

<div class="description">
	{{{md description}}}
</div>

<button class="action__char btn btn-primary">
	<i class="ra ra-aura"></i> Crear Personaje
</button>

<h3 class="body__subsection">Clases</h3>
<div class="classes__region"></div>
