<div class="pjs">
    <header class="pjs__head-container">
        <div class="pjs__head">
            <span class="pjs-head__brand" style="cursor: pointer">
                <i class="ra {{logo}}" aria-hidden="true"></i>
                Creador de Personajes
                <small>v{{version}}</small>
            </span>
            <div class="pjs-head__menu"></div>
    </header>
    <div class="pjs__body-container">
        <div class="pjs__body"></div>
    </div>
    <div style="clear: both"></div>
    <footer class="pjs__foot-container">
        <div class="pjs__foot">&copy; ARV Kl&eacute;rix 2016</div>
    </footer>
    </div>
