<header class="navbar">
  <nav class="container">
    <a class="head__brand navbar-brand" tabindex="-1">
      <i class="ra ra-lg ra-castle-emblem" aria-hidden="true"></i>
      <span>Creador de personajes</span>
      <small>{{version}}</small>
    </a>
  </nav>
</header>
