<center class="pb-3">
  <i class="ra ra-4x ra-arson" style="color: darkred" aria-hidden="true"></i>
  <h2>Oh vaya...</h2>
</center>

<p><strong>404:</strong> Parece que la página a la que intentas acceder ha sido arrasada por los
  bárbaros.</p>
<p>Contácta con los heuristas si el problema persiste.</p>

<button class="btn btn-secondary">
  <i class="ra ra-sideswipe" aria-hidden="true"></i> Volver al inicio
</button>
