<div class="card">
  {{>../../class/partials/cardblock
    name=class.attributes.name
    type=class.attributes.type
    words=class.attributes.words
  }}
  <div class="card-footer text-center">
    <button class="change-class__action btn btn-sm btn-primary" title="Cambiar de clase">
      <i class="ra ra-cycle"></i> Cambiar
    </button>
    <button class="info__action btn btn-sm btn-secondary" title="Más información">
      <i class="ra ra-help"></i> Info
    </button>

  </div>
</div>
