<div class="card mb-2">
    <div class="card-block">
      <div class="media">
        <div class="align-self-center mr-3">
          <div id="phs"><span>-</span></div>
        </div>
        <div class="media-body">
          <h4>Puntos de Habilidad</h4>
          <small>La mayor&iacute;a de personajes cuentan con <strong>15PHs</strong>.</small>
        </div>
      </div>
    </div>
</div>
