<div class="share__modal modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Compartir Personaje</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Comparte tu personaje usando este link:</p>

        <div class="input-group">
          <input class="modal__share-link w-100">
          <span class="input-group-btn">
            <button class="modal__share-copy-btn btn btn-secondary" data-clipboard-target=".modal__share-link">
              <i class="ra ra-mirror" aria-hidden="true"></i> Copiar
            </button>
          </span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          <i class="ra ra-x-mark" aria-hidden="true"></i> Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
