
<div class="media">
	{{> ../partials/icon}}
	<div class="media-body">
		<div class="pjs__words mt-3 float-right">{{{words words}}}</div>
		<h3 class="mt-3">{{name}}</h3>
		<p class="text-muted">Clase {{type}}</p>
	</div>
</div>

<div class="description">
	{{{md description}}}
</div>

<button class="btn btn-primary">
	<i class="ra ra-aura"></i> Crear Personaje
</button>
<button class="btn btn-secondary">
	<i class="ra ra-sideswipe"></i> Volver a la lista
</button>

<h3 class="body__subsection">Rasgos</h3>
<div class="traits__region"></div>

<h3 class="body__subsection">Habilidades</h3>
<div class="skills__region"></div>

<h3 class="body__subsection">Disponible para:</h3>
<div class="events__region"></div>
