.description {
  text-align: justify;
  margin-bottom: 1.5rem;

  blockquote {
    border: 0;
    margin: 0;
  }
}

.description blockquote {
  font-style: normal;
  padding: 0 1em;
  color: #636c72;
  border-left: 0.25em solid #ddd;
}
