.skill {
  margin-bottom: 0.5rem;
  display: block;
}

.skill--active {
  background-color: #DDFFDD;
  border: 1px solid darkgreen;

  &:hover {
    background-color: #CCFFCC !important;
  }
}

.phs {
  border: 7px solid rgba(0, 0, 0, 0.125);
  border-radius: 50%;
  position: relative;
  width: 75px;
  height: 75px;
  overflow: hidden;
  text-align: center;


  &::before {
    content: '';
    position: absolute;
    width: 200px;
    bottom: 0;
    left: -25px;
    background-color: rgba(4, 172, 255, 0.125);
    height: 50%;
  }

  span {
    position: relative;
    line-height: 60px;
    font-size: 30pt;
    font-weight: bold;
  }
}

.phs--good::before {
  background-color: rgba(92, 184, 92, 0.25);
}

.phs--warning::before {
  background-color: rgba(240, 173, 78, 0.5);
}

.phs--error::before {
  background-color: rgba(217, 83, 79, 0.75)
}

@for $i from 0 through 100 {
  .phs--p#{$i}::before { height: 0% + $i; }
}
