{{> skill-icon}}
<div>
    <strong>{{name}}</strong>
    <br />
    <em>{{#if category}}{{category}}, {{/if}}{{type}}</em>
</div>
<br/>
{{{summ description}}}
[Click para m&aacute;s informaci&oacute;n]